
body {
  background: linear-gradient(110deg, #0000FF 30%, #FF033E 60%);
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  font-family: 'Quiapo Free', sans-serif;
  font-size: 20px;
}

.myname {
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}

.banner{
  display: flex;
  justify-content: center;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  font-size: 35px;
}

.social-icons a{
  color:#0e172c;
  text-decoration: none;
}

.images{
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}

.banner-image{
  width: 158px;
  height: 158px;
  object-fit: cover;
  border-radius: 158px;
  outline-style: solid;
  outline-color: white;
  outline-width:3px;
}

.items{
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 640px;
  flex-grow: 1;
}

.link {
  background-color: #ffed4b;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.link a{
  color: #0e172c;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
}
